body {
    max-width: 60%;
    max-height: 60vh;
    background-color: #171150;
}

.navbar {
    width: 100%;
    background-color: rgb(157, 72, 161);
    overflow: hidden;
}

.navbar a {
    float: none;
    text-align: center;
    padding: 12px;
    color: rgb(64, 27, 117);
    text-decoration: none;
    font-size: 40px;
}

.navbar a:hover {
    background-color: rgb(48, 97, 135);
}


.active {
    background-color: #171150;
}

@media screen and (max-width: 100px) {
    .navbar a {
        float: inline-start;
        display: block;
    }
}

.my-element {   
    margin: 0 0.5rem; 
    animation: bounce;
    animation-duration: 40s; 
  }

  
@keyframes bounce {
    from {
        margin-left: 45%;
        width: 45%;
    }
    to{
        margin-left: 0%;
        width: 50%;
    }

}